<%-  include("header") -%>
<body id="homeBody">


<div class="bigone">

  <div class="mediumone">

    <div class="col col-lg-6 col-sm-12 box1">
      <h2 class="boxText">
        The Easiest Way To Share<br>
         Memories!!
      </h2>
      <p class="boxText2">Share your memories and view other people memories around the globe!!!!!  </p>
      <form action="posts">
        <button class="btn btn-dark homeBtn" type="submit" name="button">View Memories</button>
      </form>
      <form action="fill">
        <button class="btn btn-success homeBtn" type="submit" name="button">Create Memory</button>
      </form>

    </div>

    <div class="col col-lg-6 col-sm-12 box2">
      <div class="card boxCard" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1593418441652-c0ed57f06dc3?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDN8UzRNS0xBc0JCNzR8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
        <div class="card-body">

          <p class="card-text"><small class="text-muted" style="font-size: 1rem">#Add Tags Here</small></p>
          <p class="card-text"><small class="text-muted naame">"Your Name"</p>

          <h5 class="card-title">The Title </h5>
          <p class="card-text">Pour your heart right here. Share what you want . Add image of your choice. Share your experience.</p>

          <p class="card-text"><small class="text-muted timeCreation">Created x mins ago</small></p>

        </div>
      </div>
    </div>


  </div>
</div>

</body>

<%-  include("footer") -%>
