<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>Memories</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/postStyle.css">

</head>

<body>

<div class="postCon">
      <% const imgPath = "../uploads/" + doc.img; %>
      <img class="postImg" src="<%= imgPath %>" alt="Photo">

      <p class="postTit"><%= doc.title.toUpperCase() %></p>

      <p class= "postName">Author : <%= doc.name %></p>

      <p class="postCont"><%= doc.content %></p>

</div>

</body>



<div class="foo">

</div>

</html>
