#homeBody {
  margin: 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(#79a3b1, #d0e8f2);
}

#fillBody {
  margin: 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(#79a3b1, #d0e8f2);
}

#postBody {
  text-align: center;
  background: linear-gradient(#79a3b1, #d0e8f2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.bigone {
  width: 1360px;
  height: 560px;
  margin: 5%;
  background-color: #5eaaa8;
  padding: 30px;
  border: solid 20px white;
  border-radius: 15px;
}

.mediumone {
  width: 1260px;
  height: 460px;
  background-color: #a3d2ca;
  border-radius: 12px;
  padding: 20px;
}

.box1 {
  text-align: left;
  float: left;
  height: 420px;
}

.box2 {
  text-align: center;
  height: 420px;
  float: left;
}

.boxText {
  margin-top: 100px;
  margin-left: 30px;
  font-weight: bold;
}

.boxText2 {
  margin-left: 30px;
  font-size: 1rem;
}

.boxCard {
  margin-top: 0;
  margin-left: 150px;
  padding: 10px;
}

.fillCard {
  width: 450px !important;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
}

.homeBtn {
  margin-top: 40px;
  margin-left: 20px;
  float: left;
}

.labtext {
  margin: 0;
  width: 100px;
}

.fillBigone {
  margin: 2%;
  background-color: #5eaaa8;
  padding: 30px;
  border: solid 20px white;
  border-radius: 20px;
}

.fillMediumone {
  background-color: #a3d2ca;
  border-radius: 20px;
  padding: 20px;
}

h1 {
  font-size: 4rem;
  font-family: 'Dancing Script', cursive !important;
  padding-top: 20px;
  font-weight: bold !important;
}

.inp {
  float: right;
  width: 280px;
  margin-right: 40px;
  margin-left: 20px;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
}

.inpp {
  border-radius: .25rem;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
}

#ide {
  margin-left: 55px;
}

.cards {
  padding: 15px;
  padding-bottom: 0px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 20px;
}

.card-body {
  text-align: left;
}

.postImages {
  width: 333px;
  height: 210px;
}

.postsForm {
  height: 50px;
}

.footer {
  position: fixed;
  height: 150px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  border: solid 2px black;
}

.footer p {
  margin-top: 60px;
}

.foo {
  margin-top: 100px;
}

.container1 {
  text-align: left;
  margin-left: 50px;
}

.timeCreation {
  float: bottom;
  float: right;
  font-size: 0.65rem;
}

.naame {
  float: right;
  font-size: 0.8rem;
}

a {
  text-decoration: underline;
}

.like {
  width: 30px;
  height: 30px;
}

.fa-heart-o {
  float: bottom;
  float: left;
  color: red;
  cursor: pointer;
}

.fa-heart {
  float: bottom;
  float: left;
  color: red;
  cursor: pointer;
}

.fas {
  float: bottom;
  float: left;
  cursor: pointer;
}

.postButton {
  margin-right: 50px;
  float: right;
}

.homeButton {
  margin-left: 50px;
  float: left;
}

.postHeading {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: linear-gradient(#fdffbc, #ffe227);
  padding: 20px;
  width: 500px;
  border: solid 5px black;
  border-radius: 15px;
  margin-top: 20px;
  font-size: 3.5rem;
  font-weight: bold;
}

.editBtn {
  float: bottom;
  float: right;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

.deleteBtn {
  float: bottom;
  float: right;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

.hrs {
  width: 1400px;
  border: solid black;
}

.timeCreation{
  float: left !important;
}
